<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div *ngIf="errors" style="color: red; font-weight: 800;">{{errors}}</div>
    <span class="p-float-label">
        <input id="float-input" type="text" name="username" pInputText ngModel>
        <label for="float-input">Nom d'utilisateur</label>
    </span>
    <span class="p-float-label">
        <input id="float-input" type="text" name="firstName" pInputText ngModel>
        <label for="float-input">Prénom</label>
    </span>
    <span class="p-float-label">
        <input id="float-input" type="text" name="lastName" pInputText ngModel>
        <label for="float-input">Nom</label>
    </span>
    <span class="p-float-label">
        <input id="float-input" type="text" name="emails" pInputText ngModel>
        <label for="float-input">E-mails</label>
    </span>
    <span class="p-float-label">
        <input id="float-input" type="password" name="password" pPassword ngModel>
        <label for="float-input">Mot de passe</label>
    </span>
    <p-button type="submit" label="Se connecter"></p-button>
</form>
<p-progressSpinner *ngIf="loading"></p-progressSpinner>