<p-table [value]="products" [lazy]="true" (onLazyLoad)="this.productsService.getProducts()" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>
                <p>Actions</p>
                <p-button type="submit" (click)="showDialog('addProduct')" icon="pi pi-plus"
                    label="Enregistrer un nouveau produit"></p-button>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-rowIndex="rowIndex" async>
        <tr>
            <td>{{product.name | truncateText }}</td>
            <td><img [src]="product.image" [alt]="product.name" width="100" class="p-shadow-4" /></td>
            <td>
                <p-chart type="line" [data]="chartsArray[rowIndex]" [options]="options" width="250px"></p-chart>
            </td>
            <td><button pButton pRipple type="submit" icon="pi pi-minus" (click)="showDialog('deleteProduct')"
                    label="Supprimer" class="p-button-danger"></button></td>
        </tr>
        <p-dialog header="Supprimer un produit" [(visible)]="confirmDisplay" [modal]="true">
            <span class="p-float-label">
                Etes-vous sûr de vouloir supprimer le produit et ses prix ?
            </span>
            <button pButton pRipple type="submit" (click)="removeProduct(product, product.productId)" icon="pi pi-minus"
                label="Supprimer" class="p-button-danger"></button>
        </p-dialog>
    </ng-template>
</p-table>
<p-dialog header="Ajouter un produit" [(visible)]="display" [modal]="true">
    <form *ngIf="!loading" [formGroup]="productForm" (ngSubmit)="addProduct()">
        <span class="p-float-label" style="margin: 20px;">
            <input id="float-input" type="text" name="url" formControlName="url" pInputText>
            <label for="float-input">Url</label>
        </span>
        <p-button type="submit" label="Traquer le produit !"></p-button>
    </form>
    <p-progressSpinner *ngIf="loading"></p-progressSpinner>
</p-dialog>