<p-table [value]="products" [lazy]="true" (onLazyLoad)="this.productsService.getProducts()">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th><p>Actions</p><p-button type="submit" (click)="showDialog()" icon="pi pi-info-circle" label="Enregistrer un nouveau produit"></p-button></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product async>
        <tr>
            <td>{{product.name}}</td>
            <td><img [src]="product.image" [alt]="product.name" width="100" class="p-shadow-4" /></td>
            <td>
                <span *ngFor="let price of product.prices">
                    {{price.price.$numberDecimal}}
                </span>
                <p-chart type="line" [data]="data" [options]="options" width="250px"></p-chart>
            </td>
            <td><p-button type="submit" (click)="removeProduct(product, product.productId)" label="Supprimer"></p-button></td>
        </tr>
    </ng-template>
</p-table>
<p-dialog header="Ajouter un produit" [(visible)]="display" [modal]="true">
    <form *ngIf="!loading" [formGroup]="productForm" (ngSubmit)="addProduct()">
        <span class="p-float-label" style="margin: 20px;">
            <input id="float-input" type="text" name="url" formControlName="url" pInputText>
            <label for="float-input">Url</label>
        </span>
        <p-button type="submit" label="Traquer le produit !"></p-button>
    </form>
    <p-progressSpinner *ngIf="loading"></p-progressSpinner>
</p-dialog>
