<form [formGroup]="authForm" (ngSubmit)="onSubmit()" style="width:250px">
    <span class="p-fluid">
        <label for="name">Nom d'utilisateur</label>
        <input id="name" type="text" name="name" formControlName="username" pInputText>
    </span>
    <span class="p-fluid">
        <label for="psw">Mot de passe</label>
        <input id="psw" type="password" name="password" formControlName="password" [feedback]="false" pPassword>
    </span>
    <p-button class="p-mx-auto" type="submit" label="Se connecter"></p-button>
</form>